{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <section class="firstcaro">
        <div class="mb-4">
            <img src="{{ asset('assets/img/clement-helardot-95YRwf6CNw8-unsplash.jpg') }}" width="100%" height="450vh">
        </div> 
        
        <div class="container-fluid">
            
            <div class="row text-center mx-2 mb-5">
                <div class="col-md-4 line-top">
                </div>
                <div class="col-md-4">
                    <h2>NOS CHAMBRES</h2>
                </div>
                <div class="col-md-4 line-top">
                </div>
            </div>

            <div class="container pt-5 w-75">
                <div class="row mb-4">
                    <div class="col-md-4 px-4 mt-4 pt-4">
                        <div class="bg-vert-sombre">
                            <img src="{{ asset('assets/img/clement-helardot-95YRwf6CNw8-unsplash.jpg') }}" class="img-chambres">
                            <div class="text-center">
                                <h5 class="text-light">CHAMBRE ENDORMI</h5>
                            </div>
                            
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Odio magnam laudantium similique at vero consectetur molestiae iusto perspiciatis,
                        </p>

                        <a data-toggle="collapse" class="more-chambre-one" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <img src="https://img.icons8.com/carbon-copy/100/000000/plus--v1.png" width="30px" class="float-right mx-2 " />
                        </a>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nih.
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4 px-4">
                        <div class="bg-marron">
                            <img src="{{ asset('assets/img/clement-helardot-95YRwf6CNw8-unsplash.jpg') }}" class="img-chambres">
                            <div class="text-center">
                                <h5 class="text-light">CHAMBRE ENDORMI</h5>
                            </div>
                            
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Odio magnam laudantium similique at vero consectetur molestiae iusto perspiciatis,
                        </p>

                        <a data-toggle="collapse" class="more-chambre-two" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
                            <img src="https://img.icons8.com/carbon-copy/100/000000/plus--v1.png" width="30px" class="float-right mx-2" />
                        </a>
                        <div class="collapse" id="collapseExample1">
                            <div class="card card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nih.
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4 px-4 mt-4 pt-4">
                        <div class="bg-vert-sombre">
                            <img src="{{ asset('assets/img/clement-helardot-95YRwf6CNw8-unsplash.jpg') }}" class="img-chambres">
                            <div class="text-center">
                                <h5 class="text-light">CHAMBRE ENDORMI</h5>
                            </div>
                            
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Odio magnam laudantium similique at vero consectetur molestiae iusto perspiciatis,
                        </p>

                        <a data-toggle="collapse" class="more-chambre-one" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
                            <img src="https://img.icons8.com/carbon-copy/100/000000/plus--v1.png" width="30px" class="float-right mx-2" />
                        </a>
                        <div class="collapse" id="collapseExample2">
                            <div class="card card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nih.
                            </div>
                        </div>

                    </div>

                    
                </div>
            </div>
            <div class="container mb-5 mt-2">
                <div class="text-center">
                    <a class="btn bg-vert-sombre w-25" href="">
                        <h5 class="text-light my-2">
                            RÉSERVER
                        </h5>
                    </a>
                </div>
            </div>

            <div class="row text-center mx-2 mb-5">
                <div class="col-md-4 line-top">
                </div>
                <div class="col-md-4">
                    <h2>A DÉCOUVRIR</h2>
                </div>
                <div class="col-md-4 line-top">
                </div>
            </div>



        </div>
    </section>
{% endblock %}
