@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* body, h1, h2, h3, h4, h5, h6{
    font-family: 'Quicksand', sans-serif !important;
} */

.css-img {
    height: 70vh;
    overflow: hidden;
    position: relative;
    
}

.css-img::after {
    content:'';
    background-color : rgba(0, 0, 0, 0.2) ;
    height: 100%;
    width: 100%;
    position:absolute;
}

.css-img img {
    position: absolute;
    /* height: 100%; le height est en auto par defaut*/
    /* width: 100%; */
    max-width:none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.css-img .css-img-text {
    color :  white ;
    position: absolute;
    font-size: 2.5em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.css-navbar {
    /* position : absolute !important; */
    /* background-color : white ; */
    /* z-index:999; */
}

.main .css-img img{
    left: 0;
    transform: translate(0,-50%)
    
}

.main .css-img {
    height: 200px;
    transform: translateY(-10px);
}

.main .css-img::after {
    content : none;
}

.css-img-logo {
       
}

.css-img-nosChambres {

}

#img-decouverte {
}

.css-contact {
    height: 500px;
}


.css-img-about {
    border-radius: 160px 160px 160px 160px;
}

/*****************************************************************************************************************************/

.line-top {
    margin-top: 1.5rem;
    border-top: 1px solid #000;
}
.bg-vert-sombre{
    background: #578f94;
    transition: 0.3s;
}
.bg-vert-sombre:hover{
    background: #69c2ca;
    transition: 0.3s;
}
.bg-marron{
    background: #d9c9bf;
    transition: 0.3s;
}
.bg-marron:hover{
    background: #be9f8c;
    transition: 0.3s;
}
.bg-leger{
    transition: 0.3s;
}
.bg-leger:hover{
    background: #be9f8c;
    transition: 0.3s;
    font-weight: bold;
}
.bg-leger:hover a {
    color: #fff !important;
}
.bg-leger a:hover{
    color: #000 !important;
}
.bg-blue-light{
    background: #afc8cb;
}
h1, h2, h3, h4, h5{
    font-family: math !important;
}
nav a{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
}
footer{
    margin-top: 4rem;
    padding: 4rem 3rem;
}

footer .aides-contact{
    border: 2px solid #4d4c4c;
    text-align: center;
    border-radius: 20px;
}


/*PAGE INDEX CSS*/

.img-chambres{
    width: 96%;
}
.text-light{
    text-shadow: 2px 1px 2px #000;
}

.more-chambre-two img{
    background: #d9c9bf;
    border-radius: 50%;
}
.more-chambre-one img{
    background: #578f94;
    border-radius: 50%;
}
.local-pointer{
    position: relative;
}
.local-pointer h4{
    position: absolute;
    top: 7rem;
    right: 31%;
}

/* END PAGE INDEX CSS */



/* PAGE NOS CHAMBRE CSS */

.chambre-relative{
    position: relative;
}
.chambre-relative h5{
    position: absolute;
    top: 7rem;
    right: 24%;
    font-weight: bold;
    color: #fff;
    text-shadow: 4px 2px 2px #000;
}

/* END PAGE NOS CHAMBRE CSS */


/* PAGE DECOUVERTE */
.decouverte-bloc{
    border:1px solid #d4d3d3;
}
.box-vert{
    box-shadow: 13px 14px 2px #578f94;
}
.box-marron{
    box-shadow: -13px 14px 2px #d9c9bf;
}
/* END CSS PAGE DECOUVERTE */


/* PAGE CONTACT */
.contact-title h1{
    font-weight: bold;
    color: #a5816c;
    font-size: 3rem;
}

/* END CSS*/

/*PAGE RESERVATION */

.carousel-inner img{
    height: 100vh !important;
}
.reservation-slider .click img{
    width: 35px;
}
.reservation-slider .click {
    background: #fff;
    padding: 1.2rem;
    border-radius: 50%;
    box-shadow: -2px 2px 2px #000;
}

.reservation-slider .details {
    position: absolute;
    bottom: 0;
    margin-left: 6rem;
    text-shadow: 1px 1px 1px #000;
    border-bottom: 1px solid #a5816c;
    width: 85%;
}
.details p{
    color: #a5816c;
}

.reservation-card {
    border: 1px solid #a29a9a;
    border-radius: 50px;
}

.list-reserve {
    border: 1px solid #a29a9a;
    border-radius: 20px;
    margin: 0.2rem !important;
}
.list-reserve .col-md-6 {
    border-bottom: 1px solid #a29a9a;
}
.list-reserve .col-md-6.one {
    border-right: 1px solid #a29a9a;
}

.list-reserve p {
    padding: 0.5rem;
    margin: 0;
}

.reservation-comment{
    border: 1px solid #a29a9a;
    border-radius: 50px;
    font-size: 14px;
}

.reservation-comment p{
    margin-bottom: 0;
}

.reserve-user img{
    border-radius: 50%;
    width: 54px;
    height: 54px;
}

.calendar_block table, .calendar_block th, .calendar_block td {
    border: none !important;
}
.calendar_block tbody {
    font-size: 14px;
    font-weight: bold;
}
.fc .fc-button {
    padding: 0 0.5rem !important;
    font-size: 13px !important;
}

.calendar_block th{
    font-size: 13px;
    font-weight: initial;
}
.calendar_block tr {
    text-align: center;
}

.fc-daygrid-day-frame.fc-scrollgrid-sync-inner {
    height: 38px !important;
    padding: 5px;
}

.calendar_block h2{
    font-size: 20px !important;
    font-weight: bold !important;
}
.fc .fc-daygrid-day-top {
    display: inline !important;
}


td.fc-daygrid-day.fc-day.fc-day-fri.fc-day-today {
    background: #000 !important;
    color: #fff !important;
    border-radius: 50%;
    text-align: center !important;
}

/*END PAGE */


/* WIZARD FORM RESERVATION */

.sw-theme-default{
    border: none;
}

.step-design label, .step-design legend{
    display: none;
}
.step-design input{
    font-weight: bold;
    margin-bottom: 2rem;
}
.bg-marron-step{
    background: #d9c9bf;
    border-radius: 50px;
}

.step-three label {
    font-size: 12px;
    font-weight: bold;
    color: #757272;
}
.step-four p{
    font-weight: bold;
    color: #757272;
}


.sw-theme-arrows, .sw-theme-default, .sw-theme-arrows>.nav{
    border: none !important;
}
.sw-theme-dots>.nav::before{
    height: 2px !important;
    background-color: #d4baaa !important;
}

 
.toolbar button {
    background: #d4baaa !important;
    border: 1px solid #d4baaa !important;
    width: 14% !important;
    font-weight: bold !important;
}
.toolbar button:hover{
    background: #daa787 !important;
    transition: 0.5s;
}

.toolbar button.disabled{
    display: none !important;
}
/*END WIZARD RESERVATION */



body, h1, h2, h3, h4, h5, h6{
    font-family: 'Quicksand', sans-serif !important;
}