.line-top {
    margin-top: 1.5rem;
    border-top: 1px solid #000;
}
.bg-vert-sombre{
    background: #578f94;
}
.bg-marron{
    background: #d9c9bf;
}
.bg-blue-light{
    background: #afc8cb;
}
h1, h2, h3, h4, h5{
    font-family: math !important;
}
nav a{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
}
footer{
    margin-top: 4rem;
    padding: 4rem 3rem;
}

footer .aides-contact{
    border: 2px solid #4d4c4c;
    text-align: center;
    border-radius: 20px;
}


/*PAGE INDEX CSS*/

.img-chambres{
    width: 96%;
    margin-top: -1.5rem;
}
h5.text-light{
    text-shadow: 2px 1px 2px #000;
}

.more-chambre-two img{
    background: #d9c9bf;
    border-radius: 50%;
}
.more-chambre-one img{
    background: #578f94;
    border-radius: 50%;
}
.local-pointer{
    position: relative;
}
.local-pointer h4{
    position: absolute;
    top: 7rem;
    right: 31%;
}

/* END PAGE INDEX CSS */



/* PAGE NOS CHAMBRE CSS */

.chambre-relative{
    position: relative;
}
.chambre-relative h5{
    position: absolute;
    top: 7rem;
    right: 24%;
    font-weight: bold;
    color: #fff;
    text-shadow: 4px 2px 2px #000;
}

/* END PAGE NOS CHAMBRE CSS */


/* PAGE DECOUVERTE */
.decouverte-bloc{
    border:1px solid #d4d3d3;
}
.box-vert{
    box-shadow: 13px 14px 2px #578f94;
}
.box-marron{
    box-shadow: -13px 14px 2px #d9c9bf;
}
/* END CSS PAGE DECOUVERTE */