{% extends 'base.html.twig' %}

{% block title %}Nos Chambres{% endblock %}

{% block body %}

    <section>
        <div class="mb-4 css-img css-img-nosChambres">
            <img src="{{ asset('assets/img/nosChambres.jpg') }}">
        </div> 
        
        <div class="container-fluid">
            
            <div class="row text-center mx-2 mb-5">
                <div class="col-md-4 line-top">
                </div>
                <div class="col-md-4">
                    <h2>NOS CHAMBRES</h2>
                </div>
                <div class="col-md-4 line-top">
                </div>
            </div>

            <div class="container">
                <div class="row py-5">
                    <div class="col-md-4 px-4">
                        <div class="chambre-relative">
                            <a href="">
                                <img src="{{ asset('assets/img/chambreEndormi_NosChambre.jpg') }}" class="w-100">
                                <h5>CHAMBRE ENDORMI</h5>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4 px-4">
                        <div class="chambre-relative">
                            <a href="">
                                <img src="{{ asset('assets/img/DSC02454.jpg') }}" class="w-100">
                                <h5>CHAMBRE REQUIN</h5>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4 px-4">
                        <div class="chambre-relative">
                            <a href="">
                                <img src="{{ asset('assets/img/MicrosoftTeams-image-7.png') }}" class="w-100">
                                <h5>CHAMBRE TORTURE</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <p class="text-center">La tanguière vous propose 3 chambres à Louer près de saint leu</p>
        <p class="text-center">(Ile de la réunion)</p>
        <p class="ml-3 mr-2">
            La Tanguière vous propose 3 chambres d’hôtes à louer sur l’île de La Réunion, proche de la ville de Saint Leu : la chambre Endormi, la chambre Requin et la chambre Tortue.
            Chaque logement comprend une chambre avec salle de bain et un coin kitchenette avec réfrigérateur, évier, micro-ondes… (sans plaque de cuisson).
            Les hébergements sont équipés d’une climatisation pour votre plus grand confort.
        </p>
    </section>

{% endblock %}
